<manifest package="com.dashbrowser.app"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="34"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <supports-screens
      android:smallScreens="true"
      android:normalScreens="true"
      android:largeScreens="true"
      android:xlargeScreens="true"
      android:anyDensity="true"/>

  <application
      android:label="DashBrowser"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true"
      android:hardwareAccelerated="true">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
